.card {
  border-color: var(--mantine-color-gray-3);
}

.name {
  font-size: 2.25rem;
  color: var(--mantine-color-gray-9);
}

.detailsStack {
  flex: 1 1 320px;
}

.description {
  white-space: pre-line;
}

.statValue {
  font-size: 1.6rem;
  color: var(--mantine-color-green-7);
}
