.title {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-green-8);
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
  margin-bottom: 12px;
}
